---
---
// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

#kacheln-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
    display: inline-block;
}

#kacheln-container > div {
  width: 200px;
  height: 200px;
  background: green;
  margin-right: 2em;
  margin-left: 2em;
  float: left;
  display: inline-block;
}
